*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
body{
    background-color: rgb(60, 60, 60);
}
.box{
    text-align: center;
    padding-top: 100px;
}
.search{
    width: 300px;
    height: 40px;
    outline: none;
    border: none;
    border-bottom: 2px solid #0f0;
    font-size: 25px;
    margin-bottom: 50px;
    background: transparent;
    color: #0f0;
}
.send{
    width: 100px;
    height: 25px;
    border-radius: 100px;
    background-color: #0f0;
    border: 2px solid #0f0;
    color: #fff;
}
.phone{
    color: #0f0;
    padding-top: 50px;
}